* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(14, 14, 14);
  color: #b4b4b4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.container form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: .2rem;
}
.container input {
  color: #fff;
  padding: 8px;
  border: 1px solid #4d4d4d;
  background-color: transparent;
  margin-bottom: 1rem;
}

.container button {
  cursor: pointer;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #202020;
  color: #fff;
  border: none;
}

.container button:hover {
  background-color: rgb(63, 63, 63);

}

.container .form-valid {
  background-color: #005c0f;
  padding: 12px;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  width: 100%;
}

.container .form-invalid {
  background-color: #910000;
  padding: 12px;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  width: 100%;
}

.container .form-neutral {
  background-color: #007491;
  padding: 12px;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  width: 100%;
}

.container .form-equal {
  background-color: #915700;
  padding: 12px;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  width: 100%;
}